@media screen and (max-width: 760px){
	#contato{
	padding-top: 5rem;
	padding-bottom: 5rem; 
	}

}
#contato{
	padding-top: 10.5rem;
	padding-bottom: 10.5rem; 
}

#contato h3{
	font-size: 2.4rem;
	line-height: 1.1;
	font-family: "Roboto Slab", serif;
	margin: 0 0 20px 0;
}

.contato-inf ul li{
    padding: 0 0 0 40px;
    margin: 0 0 30px 0;
    position: relative;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.7;
}

.contato-inf ul li a {
	color: rgba(0, 0, 0, 0.8);
}

.contato-inf li:before{
  	font-family: "FontAwesome";
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit; 
    position: absolute;
    left: 0;
	top: 0.05rem;
    color: rgb(52,52,52);
    padding-right: 0.5em;
    
}

.endereco:before{
	content: "\f278";
	font-size: 1.9rem;
}

.tel:before{
	content:"\f095";
	font-size:2.5rem;
}

.email:before{
	content:"\f1d9";
	font-size:2.1rem;
}

.site:before{
	content:"\f109";
	font-size:2.1rem;
}

.form-group {
	margin-bottom: 1.5rem;
}

.textmesnsagem{
	margin-bottom: .8rem;

}

.imput-test, textarea{
    border: 2px solid rgba(0, 0, 0, 0.1);
    font-size: 1.4rem;
    font-weight: 400;
    width: 100%;
    padding: 1rem 2rem;
    color: #555555;
    border-radius: 4px;
    height: 5.4rem;
    }

textarea{
	height:auto;
	padding: 1.3rem 2rem;
	
}

input:focus, textarea:focus{
	outline: none;
	box-shadow: none;
	border-color:rgb(52,52,52);
	color: #555555;
}

#btn-enviar{
	margin-right: .4rem;
    margin-bottom: .4rem;
    font-size: 1.6rem;
    font-weight: 400;
    border-radius: 3rem;
    padding: .75rem 2.2rem;
}

#btn-enviar:hover, #btn-enviar:focus {
	box-shadow: none;
	outline: none;
}

#mapa{
	height: 50rem;
}

iframe {
	width: 100%;
	height:100%;
	pointer-events: none;
}