<link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700" rel="stylesheet">
html{
	font-size: 10px;
}

body{
	font-family: 'Source Sans Pro', sans-serif;
	line-height: 1.7;
}

.topo{
	border-bottom: 1px solid rgba(0, 0, 0, .1); 
	padding: 0;
	margin-bottom: 0;
}

.caminho{
	font-size: 1.5rem;
	color: rgba(0, 0, 0,.6);
	border-right:1px solid rgba(0, 0, 0, .1);
	border-left: 1px solid rgba(0, 0, 0, .1);
	float: left;
}
	
.call{
	color: rgba(0, 0, 0,.6);
	border-left: 1px solid rgba(0, 0, 0, .1);
    font-size: 1.3rem; 
    }

#fafa{
	border-left: 1px solid rgba(0, 0, 0, .1);
    border-right: 1px solid rgba(0, 0, 0, .1);
}

.incone{
	display: inline-block;
}

.incone .fa{
	font-size: 1.5rem;
}

.incone a{
    padding: .4rem .7rem;

}

#fafa, .call, .caminho{
	display: inline-block; 
    margin: 0;
    padding: .5rem 1rem; 
}

	@media screen and (max-width: 500px){

		.caminho{
			display: none;
		}
	}

.menu{
	padding: 2.2rem 0;
}

.educ{
	font-size: 2.4rem;
	color: black;
	text-transform: uppercase;
	font-weight:bold;
	text-align: left;
}

a:hover{ 
	text-decoration: none; 

}

.educ img{
	width: 26px;
}

.botao-menu{
	background-color:rgb(45,108,223); 
	color: white;
	border:none;
	padding: .5rem 1rem;
}

.botao-menu:hover{
	box-shadow: 0px 15px 19px -9px rgba(0, 0, 0, .7);
}

.menuprincipal li{
	display: inline;
	font-size: 1.4rem;
}
	
.menuprincipal a{
	color: black;
	padding: 3rem 1.5rem;
	 font-weight: 300;
}

.menuprincipal a:hover{
	text-decoration: none;
}

.menuprincipal .btn{
	padding: 0;
	width: 5.4rem;
}

.menuprincipal{
	margin: .7rem 0 0 0;
}

.dropdown-menu {
	background-color: rgb(0,0,0); 
	text-transform: none;
	min-width: 14rem;
	margin-top: 2.3rem;
}

#sub{
	padding-top:2rem;
  	padding-bottom:2rem;
}

#sub li a{
	color:#999999;
	line-height: 1.2;
	font-size: 1.3rem;
  	letter-spacing: 0; 
}

#sub li a:hover{
 	color: white;
 	background-color: rgba(0,0,0,.0); 
}

.dropdown:hover .dropdown-menu {
	text-decoration: none;
	display: block;
}

.dropdown-menu:after{
     content: "";
     width: 0;
     height: 0;
     position: absolute;
     border-left: 8px solid transparent;
     border-right: 8px solid transparent;
     border-bottom: 8px solid black;
     top: -8px;
     left: 20%;
}

#nav{
	display: none;
}


@media screen and (max-width: 760px){
	#menup{
		display: none;
	}

	#menup2{
		display:block;
	}

 	.educ{
 		float: left;
 	}

 	#nav{
 		display:block;
 		padding:2rem 0;
 		border: none;
 		background: white;
 		position: relative;
 	}

 	#bs1{
 		font-size: 1.4rem;
 		color: white;
 		background: rgb(0,0,0);
 		width: 80%;
 		height: 100%;
    	position: fixed;
   		top: 0;
   		left: 20%;
    	bottom: 0;
    	right: 0;
    	text-align: left;
 		}

 		#buttonnav{
 			color: white;
 			border: none;
 			background-color:rgb(0,0,0);  
 			text-align: right;
 			font-size: 3rem;
 		}

 		#ulnav{
 			margin-top: 5rem;
 		}

 		#ulnav li{
 			padding: 0;
 		}

}

.carousel-inner{
	color: white;
}

.carousel-inner li{
	width: 100%;
	display: block;
	min-height: 630px;
	height: 630px;
	position: relative;
}

.overlay{
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    background: rgba(0, 0, 0, 0.4);
}

#img1 {
    background: url(../img/img_bg_1.jpg)no-repeat;
    background-position: bottom center;
    background-size: cover;
}

#img2{
    background: url(../img/img_bg_2.jpg)no-repeat;
	background-position: bottom center;
	background-size: cover;
    
   }

 #img3{
    background: url(../img/img_bg_3.jpg)no-repeat;
	background-position: bottom center; 
	background-size: cover;
   
}

 .text h1{
	font-family: 'Roboto Slab', serif;
	font-weight:lighter;
	font-size: 4rem;
	line-height: 1.3;
	margin-bottom: 2rem;
}

.brought{
	margin-bottom: 3rem;
	font-size: 2rem;
	line-height: 1.5;
}

.brought a{
	color: rgb(87,88,89);
}

.text p a{
	padding: 1.6rem 5.1rem ;
	border-radius:5rem;
	text-transform: uppercase;
	font-size: 1.2rem;
	font-weight:bold;
}

.carousel-inner-text{
	display: table;
    min-height: 630px; 
    height: 630px; 
}

.text{
	display: table-cell;
    vertical-align: middle;
    min-height: 700px;
}

.carousel-indicators li{
	margin-left:1rem;
	padding: .5rem;
	background-color: rgb(91,96,99); 
	border-color:transparent;
}
.carousel-indicators .active{
	margin-left: 1rem;
	padding: .5rem;
}

#gradiente{
	padding: 0;
	margin-top: -10px;
	margin-bottom: 4.8rem;
}

.course{
	margin-bottom: 5rem;
}

.titulo-course h2{
	font-family: 'Roboto Slab', serif;
	text-transform: uppercase;
	font-weight:initial;
	font-size: 2.4rem;
	line-height: 1.7;
	margin-bottom:2rem;
	font-weight: 400; 
}

.icone {
    width: 9rem;
    height: 9rem;
    background: rgba(0, 0, 0,.05);
    display: table;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 3rem;
    border-radius: 50%;
    transition: 0.3s;
}

.icone i {
    display: table-cell;
    vertical-align: middle;
    font-size: 4rem;
    line-height: 4rem;
    color: #000;
    transition: 0.3s;
}

.business:hover .icone{
   background-color: #2e6ddf;
}

.business:hover i{
	color: white;
}

.business h3 {
	font-family: 'Roboto Slab', serif;
	font-size: 1.8rem;
	font-weight: 400;
	line-height: 1.1;
	margin: 0 0 2rem 0;
}

.businesstexto h3 a{
	color: black;
}

.businesstexto p {
	font-size: 1.5rem;
	color: #828282;
	font-weight: 400;
	font-family: 'Source Sans Pro',Arial,sans-serif;
	margin-bottom: 2rem;
	line-height: 1.7;
}

.business h3:hover,.business p:hover{
	text-decoration: underline;
}

.titulo-course p{
	color: #828282;
	font-weight: 400;
	line-height: 1.7;
	font-family: 'Source Sans Pro',Arial,sans-serif;
}

.titulo-course{
	padding: 3.7rem 0;
}

.ico-numero i{
	display: table-cell;
    vertical-align: middle;
    font-size: 4rem;
    line-height: 4rem;
    color:white;
    transition: 0.3s;
}

.numeros{
	padding: 7.3rem 0;
    clear: both;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.fundo{
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    background: rgba(0, 0, 0, 0.5);
}

.timer-incones{
	font-size: 4.4rem;
    color: white;
    font-family: "Roboto Slab", serif;
    width: 100%;
    font-weight: 400;
    margin-bottom: .1rem;
    display: block;
}

.numero-text{
	color: rgba(255, 255, 255,.8);
    font-size: 1.6rem;
    margin-bottom: 2rem;
    font-family: "Roboto Slab", serif;
}


.ourcourse-img{
	background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.our{
	padding-bottom:10rem;

}
.espacamento{
	padding: 4.7rem 0;
}

.imagem-textoour{
    display: flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    margin-bottom: 3rem;
}

.our .businesstexto, .our .ourcourse-img {
    width: 50%;
    display: inline-block;
   background-color: rgba(0, 0, 0,.01)
}

.ourcourse-img:hover, .ourcourse-img:active {
  box-shadow: -50px 0px 0px 50px rgba(0,0,0, 0.5) inset;

}

.our .businesstexto {
 padding:1.7rem;

}

.btn-our{
	border: 2px solid rgba(0, 0, 0,.8);
    background: transparent;
    color: rgba(0, 0, 0, .8);
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing:.1rem;
    padding: 1.1rem 1.5rem;
    border-radius: 0;
    margin-bottom:2.8rem; 
}

.btn-our:hover{
	background-color:black;
	border: 2px solid rgba(0, 0, 0,.8);
}

#testimonials{
	background-color: #1F5F8B;
    position: relative;
    padding: 7em 0;
}

#testimonials .fundo,#testimonials .carousel-indicators li{
	background-color: rgba(31, 95, 139, 0.7);
}

#testimonials .carousel-indicators .active{
	background-color:white;
	padding: 0;
}

#testimonials h2{
	color:white;
	margin-bottom: 2rem;
	font-size: 2.4rem;
	font-family: "Roboto Slab", serif;
    font-weight: 400;
    margin: 0 0 20px 0;
	line-height: 1.5;
	text-transform: uppercase;
	position: relative;
}

.titulo-tes{
	padding: 7px 15px;
    position: relative;
}

.titulo-tes:before{
	position: absolute;
    top: 20px;
    left: -40px;
    content: '';
    width: 40px;
    height: 1px;
    background: white;
}

.titulo-tes:after{
	position: absolute;
    top: 20px;
    right: -40px;
    content: '';
    width: 40px;
    height: 1px;
    background: white;
}

.texto-mike span{
	margin-top:.6rem; 
	font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    display: block;
}

.texto-mike span .students{
	font-size: 11px;
    font-weight: 300;
    letter-spacing: 3px;
}

blockquote{
	border: none;
    margin: 30px auto;
    width: 70%;
    position: relative;
    padding: 0;
}

#testimonials .carousel-inner{
	margin-top: 2.8rem;
}

#carousel-estudantes .carousel-indicators li{
	padding: 0;
}

#carousel-estudantes .carousel-indicators {
	margin-bottom: -5.4rem;
}



.blog-fundo{
	background-color:rgba(0,0,0,.05);
	border-radius: 50%;
	width: 10rem;
    height: 10rem;
    display: table;
    position: absolute;
    top: 0;
    left: 0;
 }

.blog-texto{
	position: relative;
    padding-left: 12rem;
    width: 100%;
    float: left;
    margin-bottom: 3rem;
}

.blog-fundo span{
	display: table-cell;
    vertical-align: middle;
    height: 10rem;
    width: 10rem;
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.4rem;
    color: #828282;
}

.blog-texto h3 a, .blog-texto h3{
	font-size: 2.4rem;
	color: #000;
    font-family: "Roboto Slab", serif;
    font-weight: 400;
    margin: 0 0 2rem 0;
}

.blog-texto p{
	margin-bottom: 2rem;
	font-family: "Source Sans Pro", Arial, sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.7;
    color: #828282;
}

.blog-imgfundo{
    display: block;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    position: relative;
    height: 27rem;
}

.blog-span2, .blog-span2 a{
	font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
    font-weight: 700;
    display: inline-block;
    margin-bottom: 2rem;
    float: right;
    line-height: 1.7;
    color: #828282;
}

.blog-span1{
	font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
    font-weight: 700;
    display: inline-block;
    margin-bottom: 2rem;
   	color: #828282;
}

#healty h3{
	font-size: 2rem;
    line-height: 1.5;
}

#healty .blog-texto{
	padding: 3rem;
}

.blogtexto-img{
	background-color:rgba(0,0,0,.05); 
	margin-bottom: 3rem;
    width: 100%;
    float: left;
}

#healty{
	padding-bottom:10.3rem; 
}

.principal-plan{
	background-color:white; 
	margin-bottom: 15rem;
    width: 100%;
}

.plan-list{
	padding: 2rem 4rem;
	font-size: 1.6rem;
    margin: 0;
    text-align: center;
    color: #8b909d;
}

.plan-list ul{
	padding: 0 0 2rem 0;
}

.plan-list li{
	margin-bottom: 10px;
}

.plan-list .btn-our{
	width: 24.2rem;
	height: 6rem;
}

.pricing-titulo{
	width: 100%;
	background-color:rgba(0,0,0,.03); 
	font-size: 4.5rem;
	font-weight: 400;
	margin: .5rem 0 .75rem;
	overflow: hidden;
	padding: .1rem 0;
}

pric-span{
	display: inline-block;
    line-height: 1.7;
   
}

.pric-span1{
	font-size: 2rem;
    vertical-align: super;
}

.pric-span2{
	color: #8b909d;
	line-height: 1.7;
	font-size: 1.5rem;
}

.pricing h3{
	font-size: 1.8rem;
    margin: 0 0;
    line-height: 1.1;
    font-weight:400;
    font-family: "Roboto Slab", serif;
}

.pricing{
	padding: 2rem 4rem;
}