
html{
	font-size: 10px;
}

body{
	font-family: 'Source Sans Pro', sans-serif;
	line-height: 1.7;
    overflow-x: hidden;

}

.topo{
	border-bottom: 1px solid rgba(0, 0, 0, .1); 
	padding: 0;
	margin-bottom: 0;
}

.caminho{
	font-size: 1.5rem;
	color: rgba(0, 0, 0,.7);
	border-right:1px solid rgba(0, 0, 0, .1);
	border-left: 1px solid rgba(0, 0, 0, .1);
	float: left;
    font-weight: lighter;
}
	
.call{
	color: rgba(0, 0, 0,.6);
	border-left: 1px solid rgba(0, 0, 0, .1);
    font-size: 1.3rem; 
    }

#fafa{
	border-left: 1px solid rgba(0, 0, 0, .1);
    border-right: 1px solid rgba(0, 0, 0, .1);
}

.incone{
	display: inline-block;
}

.incone .fa{
	font-size: 1.5rem;
}

.incone a{
    padding: .85rem .805rem;
    color:rgb(0,0,0);
}

#fafa{
    display: inline-block; 
    margin: 0;
    padding: .7rem 1.1rem .4rem 1.3rem;

}

.call{
	display: inline-block; 
    margin: 0;
    padding: .55rem 1.2rem;
		} 

.caminho{
	display: inline-block; 
    margin: 0;
    padding: .5rem 1.2rem; 
}

	@media screen and (max-width: 500px){

		.caminho{
			display: none;
		}
	}

.menu{
	padding: 2.15rem 0;
}

.educ{
	font-size: 2.4rem;
	color: black;
	text-transform: uppercase;
	font-weight:bold;
	text-align: left;
	margin: 0;
}

a:hover{ 
	text-decoration: none; 

}

.educ img{
	width: 22px;
    margin-right: .3rem;
}

.botao-menu,.botao-menu1{
	background-color:rgb(45,108,223); 
	color: white;
	border:none;
	padding: .55rem .95rem;
}
.botao-menu1{
    padding: .55rem 1.05rem;
}

.botao-menu:hover{
	box-shadow: 0px 15px 19px -9px rgba(0, 0, 0, .7);
}
#contact a{
    padding: 3rem 1.59rem;
}
.menuprincipal li{
	display: inline;
	font-size: 1.4rem;
}
.menuprincipal .active a{
    font-weight:400;
}

.menuprincipal a{
	color: black;
    padding: 3rem 1.5rem;
	font-weight: 300;
}

.menuprincipal a:hover{
	text-decoration: none;
}

.menuprincipal .btn{
	padding: 0;
    border:none;
}

.menuprincipal{
	margin-top: .6rem;
    margin-bottom:0;
    margin-right:.15rem;
}

.dropdown-menu {
	background-color: rgb(0,0,0); 
	text-transform: none;
	min-width: 14rem;
	margin-top: 2.3rem;
}

#sub{
	padding-top:2rem;
  	
}

#sub li a{
	color:#999999;
	line-height: 1.2;
	font-size: 1.3rem;
  	letter-spacing: 0; 
}

#sub li a:hover{
 	color: white;
 	background-color: rgba(0,0,0,.0); 
}

.dropdown:hover .dropdown-menu {
	text-decoration: none;
	display: block;
}

.dropdown-menu:after{
     content: "";
     width: 0;
     height: 0;
     position: absolute;
     border-left: 8px solid transparent;
     border-right: 8px solid transparent;
     border-bottom: 8px solid black;
     top: -8px;
     left: 20%;
}

#nav{
	display: none;
}

.carousel-inner{
	color: white;
	margin-bottom: 0;
}

 .carousel-inner li{
	display: block;
	position: relative;
}

.carousel-indicators {
    bottom: 3.5rem;
    margin-left: -30.3%;
}

.overlay{
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    background: rgba(0, 0, 0, 0.4);
}

#img1 {
    background: url(../img/img_bg_1.jpg)no-repeat;
    background-position: bottom center;
    background-size: cover;
}

#img2{
    background: url(../img/img_bg_2.jpg)no-repeat;
	background-position: bottom center;
	background-size: cover;
    
}

 #img3{
    background: url(../img/img_bg_3.jpg)no-repeat;
    background-position: bottom center;
	background-size: cover;
}

 .text h1{
	font-family: 'Roboto Slab', serif;
	font-weight:300;
	font-size: 4rem;
	line-height: 1.3;	
}

.brought{
	margin-bottom: 3rem;
	font-size: 2rem;
	line-height: 1.5;
}

.brought a{
	color: rgba(255, 255, 255, 0.5);
}

.text p a{
	padding: 1.6rem 5.1rem ;
	border-radius:5rem;
	text-transform: uppercase;
	font-size: 1.2rem;
	font-weight:bold;
}

.carousel-inner-text{
	display: table;
    min-height: 630px; 
    height: 630px; 
}

.text{
    display: table-cell;
    vertical-align: middle;
    padding-bottom: 33px;
}

#gradiente .botao-menu {
	padding: 1.8rem 3rem;
	border-radius: 5rem;
	outline: none;
	text-transform: uppercase;
	line-height: 1.4;
	letter-spacing: 2px;
}

.carousel-indicators li{
	margin-left:1rem;
	padding: .5rem;
	background-color: rgb(91,96,99); 
	border-color:transparent;
}

.carousel-indicators .active{
	margin-left: 1rem;
	padding: .5rem;
}

#gradiente{
	padding: 0;
    min-height: 630px;
    height: 630px;
}

#course{
	padding-bottom: 10.323rem;
}

.course1{
	margin-bottom: 1.9rem;
}

.titulo-course h2{
	font-family: 'Roboto Slab', serif;
	text-transform: uppercase;
	font-weight:initial;
	font-size: 2.4rem;
	line-height: 1.7;
	margin-bottom: 1.8rem;
}

.icone {
    width: 9rem;
    height: 9rem;
    background: rgba(0, 0, 0,.05);
    display: table;
    text-align: center;
    margin: 0 auto;
    border-radius: 50%;
    transition: 0.3s;
}

.icone i {
    display: table-cell;
    vertical-align: middle;
    font-size: 4rem;
    line-height: 4rem;
    color: #000;
    transition: 0.3s;
}

.business{
	width: 95%;
    margin: 0 auto;
}

.business:hover .icone{
   background-color: #2e6ddf;
}

.business:hover i{
	color: white;
}

.business h3 {
	margin: 2.45rem 0 1.8rem 0;
}

.business h3 a{
	color: black;
	font-family: 'Roboto Slab', serif;
	font-size: 1.8rem;
	line-height: 1.1;
}


.business p {
	font-size: 1.5rem;
	color: #828282;
	font-weight: 400;
	font-family: 'Source Sans Pro',Arial,sans-serif;
	margin-bottom: 2.24rem;
	line-height: 1.7;
}

.business h3:hover,.business p:hover{
	text-decoration: underline;
}

.titulo-course p{
	color: #828282;
	font-weight: 400;
	line-height: 1.7;
	font-family: 'Source Sans Pro',Arial,sans-serif;
}

.titulo-course{
	padding-bottom:3.7rem; 

}

.ico-numero i{
	display: table-cell;
    vertical-align: middle;
    font-size: 5rem;
    line-height: 4rem;
    color:white;
    transition: 0.3s;
}

.numeros{
	padding-top:10.7rem;
    padding-bottom:13.74rem;
    clear: both;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.fundo{
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    background: rgba(0, 0, 0, 0.5);
}

.timer-incones{
	font-size: 4.4rem;
    color: white;
    font-family: "Roboto Slab", serif;
    width: 100%;
    font-weight: 400;
    margin-bottom: .4rem;
    display: block;
}

.numero-text{
	color: rgba(255, 255, 255,.8);
    font-size: 1.6rem;
    margin-bottom: 2rem;
    font-family: "Roboto Slab", serif;
}


.ourcourse-img{
	background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.our{
	padding-bottom:10.5rem;
}

.espacamento{
	padding-top: 8.3rem;
	padding-bottom:4.8rem;
}

 .titulo-course h2:after{
    position: absolute;
    top: 62px;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    width: 50px;
    height: 1px;
    margin: 0 auto;
    background: rgba(0, 0, 0,.08);
}

.imagem-textoour{
    display: flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    margin-bottom: 3rem;
}

.our .business, .our .ourcourse-img {
    width: 50%;
    display: inline-block;
   background-color: rgba(0, 0, 0,.01)
}

.ourcourse-img:hover, .g-img:hover{
  box-shadow: -25px 20px 20px  25px  rgba(0,0,0, .6) inset;

}
.g-img:hover{ 
    box-shadow: 5px 5px 15px  20px  rgba(0,0,0, .4) inset;
 }

.our .business{
	padding: 2.1rem 3.5rem 2.662rem 2.5rem;
}

.our .business h3 {
	margin-top:0;
 	}

.btn-our{
	border: 2px solid rgba(0, 0, 0,.8);
    background: transparent;
    color: rgba(0, 0, 0, .8);
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing:.1rem;
    padding: 1.15rem 1.5rem;
    border-radius: 0;
}

.btn-our:hover{
	background-color:black;
	border: 2px solid rgba(0, 0, 0,.8);
}

#testimonials{
	background-color: #1F5F8B;
    position: relative;
    padding:10.5rem 0 9.6rem 0;
 
}

#testimonials .fundo,#testimonials .carousel-indicators li{
	background-color: rgba(31, 95, 139, 0.7);
}

#testimonials .carousel-indicators .active{
	background-color:white;
	padding: 0;
}

#carousel-estudantes{
    padding-top: 4.4rem;
}

#testimonials h2{
	color:white;
	margin-bottom: 2rem;
	font-size: 2.4rem;
	font-family: "Roboto Slab", serif;
    font-weight: 400;
    margin: 0 0 20px 0;
	line-height: 1.5;
	text-transform: uppercase;
	position: relative;
}

#testimonials .espacamento {
    padding-top: 4.6rem;
    padding-bottom: 4.8rem;
}

.titulo-tes{
	padding: 7px 15px;
    position: relative;
}

.titulo-tes:before{
	position: absolute;
    top: 24px;
    left: -40px;
    content: '';
    width: 40px;
    height: 1px;
    background: white;
}

.titulo-tes:after{
	position: absolute;
    top: 24px;
    right: -40px;
    content: '';
    width: 40px;
    height: 1px;
    background: white;
}

.texto-mike span{
	margin-top:1rem; 
	font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    display: block;
}

.texto-mike span .students{
    margin-top:.2rem;
	font-size: 11px;
    font-weight: 300;
    letter-spacing: 3px;
}

blockquote{
	border: none;
    margin: 30px auto;
    width: 70%;
    position: relative;
    padding: 0;
}

#testimonials .carousel-inner{
	margin-bottom: 0;
    min-height: 350px;
    height:350px;
}

#carousel-estudantes .carousel-indicators{
    bottom:.9rem;
}

#carousel-estudantes .carousel-indicators li{
	padding: 0;
  
}
#blog{
    padding-bottom:4.5rem;
}

.blog-fundo{
	background-color:rgba(0,0,0,.03);
	border-radius: 50%;
	width: 10rem;
    height: 10rem;
    display: table;
    position: absolute;
    top: 0;
    left: 0;
 }

.blog-texto{
	position: relative;
    padding-left: 12rem;
    width: 100%;
    float: left;
    margin-bottom: 3rem;
}

.blog-fundo span{
	display: table-cell;
    vertical-align: middle;
    height: 10rem;
    width: 10rem;
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.4rem;
    color: #828282;
}

.blog-texto h3 a, .blog-texto h3{
	font-size: 2rem;
	color: #000;
    font-family: "Roboto Slab", serif;
    font-weight: 400;
    margin: 0 0 2rem 0;
    line-height: 1.5;
}

.blog-texto p{
	margin-bottom: 2rem;
	font-family: "Source Sans Pro", Arial, sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.7;
    color: #828282;
}

.blog-imgfundo{
    display: block;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    position: relative;
    height: 27rem;
}

.blog-span2, .blog-span2 a{
	font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
    font-weight: 700;
    display: inline-block;
    margin-bottom: 2rem;
    float: right;
    line-height: 1.7;
    color: #828282;
}

.blog-span1{
	font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
    font-weight: 700;
    display: inline-block;
    margin-bottom: 2rem;
   	color: #828282;
}


#healty .blog-texto{
	padding: 3rem 1rem .2rem 3rem;
}

#healty .blog-span2 a{
    color:rgba(0,0,0,.3);
}

#healty .blog-span2 i{
   padding-left: 1rem; 
   padding-right: 2rem;
}

.blogtexto-img{
	background-color:rgba(0,0,0,.03);                      
	
    width: 100%;
    float: left;
}

#healty{
	padding-bottom:13.5rem; 
}

#plan{
   padding-bottom: 15rem;
}

.principal-plan{
	background-color:white; 
    width: 100%;
}

.plan-list{
	padding: 3rem 3rem 3.1rem 3rem;
	font-size: 1.6rem;
    margin: 0;
    text-align: center;
    color: #8b909d;
}

.plan-list ul{
	padding: 0 0 2.1rem 0;
}

.plan-list li{
	margin-bottom: 10px;
}

.plan-list .btn-our{
   padding: 1.83rem 7.47rem 1.83rem 7.47rem;
}

.pricing-titulo{
	width: 100%;
	background-color:rgba(0,0,0,.03); 
	font-size: 4.5rem;
	font-weight: 400;
	overflow: hidden;
	padding: .45rem 0;
}

pric-span{
	display: inline-block;
    line-height: 1.7;
}

.pric-span1{
	font-size: 2rem;
    vertical-align: super;
}

.pric-span2{
	color: #8b909d;
	line-height: 1.75;
    font-size: 1.58rem;
}

.pricing h3{
	font-size: 1.8rem;
    margin: 0 0;
    line-height: 1.1;
    font-weight:400;
    font-family: "Roboto Slab", serif;
}

.pricing{
	padding: 3rem 4rem;
}

#get{
	position: relative;
	background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding-top: 10.5rem; 
    padding-bottom: 10.95rem;
}

#get h2,#get h3{
	font-family: "Roboto Slab", serif;
    font-weight: 400;
    font-size: 3rem;
    line-height: 1.1;
    margin: 0 0 2rem 0;
    color: white; 
}

#get h3{
	font-size: 2.4rem;
    
}

.get-dt-hr{
    margin-top: 4.5rem;
    margin-bottom: 4.45rem;
  
}

.dia-hora{
	display: inline-block;
    width: 12rem;
    height: 12rem;
    background: rgba(0, 0, 0, .2);
    margin: 0 .45rem 0rem .2rem;
    position: relative;
    border: 2px solid white;
    border-radius: 50%;
}
.dia-hora div{
    display: table-cell;
    vertical-align: middle;
    height: 11.7rem;
    width: 12rem;
}

.dia,.hora,.minutos, .segundos{
	font-size: 4rem;
	display: block;
    color: white;
}

.textodata{
	color: rgba(255, 255, 255,.9);
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: 2px;
    font-weight: 700;
}

#get p{
	color: #fff;
    margin-bottom: 2rem;
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.7;
}

#get .btn-our{
	border-color: white;
	color: white;
	padding: 1.7rem 3.6rem;
	font-size: 1.2rem;
    margin-right: .4rem;
    letter-spacing: 2px;
}

#get .btn-our:hover{
	background-color:#2D6CDF;
	border-color:#2D6CDF;
}

#gallery span{
	border: 2px solid rgba(0, 0, 0, .8);
    padding: 1.0rem 1.5rem;
}

#gallery h2 span:before{
	position: absolute;
    top: 6px;
    bottom: 0;
    content: '';
    width: 100px;
    height: 1px;
    background: rgba(0, 0, 0,.1);
    margin-left: -125px;
}

 #gallery h2 span:after{
 	position: absolute;
    top: 6px;
    bottom: 0;
    content: '';
    width: 100px;
    height: 1px;
    background: rgba(0, 0, 0, .1);
    margin-left: 25px;
}
 
#gallery h2{
	font-size: 1.4rem;
    text-transform: uppercase;
    margin-bottom: 3.5rem;
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
    position: relative;
}

.gallery-principal{
	padding-top: 1.8rem;
    width: 100%;

}

.g-img{
	display: block;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    height: 29.95rem;
}

#gallery .col{
	margin: 0;
	padding: 0;
}

#rodape{
	background: #efefef;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: white;
    padding: 8.8rem 0 10.5rem 0;
    position: relative; 
}

#rodape .fundo{
	background: rgba(0, 0, 0, 0.85);
}

.footer{
	padding-bottom: 5rem;
}

.col-rodape{
	margin-bottom: 3rem;
}

.col-rodape h3{
	margin-bottom: 1.5rem;
    margin-top: 1.7rem;
    font-weight: bold;
    font-size: 1.2rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: "Source Sans Pro", Arial, sans-serif;
    color: white;
}

#rodape p{
	margin-bottom: 2rem;
	font-family: "Source Sans Pro", Arial, sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.7;
}

.col-rodape li a{
	color: rgba(255, 255, 255,.5);
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.7;
}

.link-rodape small{
	display: block;
}

.link-rodape a{
	color: rgba(255, 255, 255, .5);
}

.botao-f{
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    z-index: 999;
    transition: 0.5s;
}

.botao-fixo{
    width: 5rem;
    height: 5rem;
    display: table;
    background: rgba(0, 0, 0,.5);
    border-color: rgba(0, 0, 0, .01);
    color: #fff;
    outline: none;
    text-align: center;
    border-radius: 4px;
}

@media screen and (max-width: 760px){
    .text h1 {
        font-size: 2rem; 
    }

    .brought {
        font-size: 1rem;
    }

   #menup{
       display: none;
   }

   .educ{
       float: left;
   }

   #nav{
        display:block;
       padding:3rem 0;
       border: none;
       background: white;   
   }

   #bs1{
        font-size: 2.8rem;
        color: white;
        width: 80%;
        height: 800%;
        background: rgb(0,0,0);
        position: fixed;
        top: 0;
        right:0;
        z-index: 100;
        text-align: left;   
    }

    #buttonnav{
        color: white;
        border: none;
        background-color:rgb(0,0,0);  
        text-align: right;
        font-size: 6rem;
       }

    #ulnav{
        margin-top: 5rem;
    }

    #ulnav li{
        padding: 0;
    }


    .numeros{
        padding: 5.35rem 0 6.87rem 0;
    }

    .num{
        margin-bottom:2rem; 
    }

    .our{
        padding-bottom: 5rem;
    }
    .our .business, .our .ourcourse-img {
        display: block;
        width: 100%;
    }

    .ourcourse-img{
        height: 27rem;
    }

    #healty .blogtexto-img{
        margin-bottom:2rem;
    }

    #healty {
        padding-bottom:4.5rem;
    }

    .principal-plan {
        margin-bottom: 3rem;
    }

    #get{
        padding-top: 5.3rem;
        padding-bottom: 6rem;
    }

    .espacamento {
        padding-top: 4.15rem;
        padding-bottom: 2.4rem;
    } 

    #course {
        padding-bottom: 5rem;
    }

    #carousel-estudantes .carousel-indicators {
        bottom: -7rem;
    }

    #plan{
        padding-bottom:7.5rem;
    }

    #rodape{
        padding: 3rem 0 5.3rem 0;
    }
}